<h3>Welcome <%= current_user.name %></h3>

  <%= link_to 'My Links', links_path %>
 <%= link_to 'My favorites', favs_path %>
 <%= link_to 'comment', new_comment_path %>
<div>my links... <%= @test %></div>

  <li><% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %></div>
   <div>user id... <%= current_user.id %></div>
<% end %></li>
  <li><% if user_signed_in? %>
  <div>Signed in as... <%= current_user.name %></div>
  
<% end %></li>
